<h1 class="header1">good</h1>
<h3 class="header3"><%= @user.username %></h3>
<p><% @user.orders.each do |order| %></p>
Quantity<br>
<%= order.quantity %><br>
Price<br>
<%= order.book_price %><br>
Type<br>
<%= order.option_type %><br>
<% end %>

<%=link_to "handsome users", users_path %>