<h1 class="header1">EDIT EVENTS</h1>
<div class="editor">
	
	<%= form_for @event do |f| %>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :sell_price %>
	<%= f.text_field :sell_price %>

	<%= f.label :buy_price %>
	<%= f.text_field :price %>

	<%= f.label :avatar %>
	<%= f.file_field :avatar %>

	<%= f.submit nil, :class => "button" %>

</div>

<% end %>

<%= link_to 'Show', event_path(@event) %>
<%= link_to 'Back', events_path %>
