<h1 class="header1"><%= @event.title %></h1>


<!-- Header and Nav -->
 
  

 
 
  
  <!-- Second Band (Image Left with Text) -->
 
  <div class="row" id="image">
    <div class="large-6 columns">
      <br><%= image_tag @event.avatar %></br>
    </div>
    <div class="large-6 columns" id="content">
      <h4>This is a content section.</h4>
      <div class="row">
        
        <div class="large-6 columns">
          <p><%= @event.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
Sell Price
<p class="trade" id="sell"><%=  @event.sell_price %></p>
</div>
<div class="wrapper">
Buy Price
<p class="trade" id="buy"><%=  @event.price %></p>
</div>
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Shan & Chris</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            
<%= link_to "Edit", edit_event_path %>
<%= link_to 'Order', new_event_order_path(params[:id]) %>

<%= link_to 'Back', events_path %>
          </ul>
        </div>
      </div>
    </div>
  </footer>              
