<h1><%= @event.title %></h1>
<p><%= @event.description %></p>

Sell Price
<p><%=  @event.sell_price %></p>

buy Price
<p><%=  @event.price %></p>

<%= link_to 'Order', new_order_path %>

<%= link_to 'Show', events_path %>

<%= link_to "Edit", edit_event_path %>
<%= link_to 'Destroy', @event, method: :delete, data: {confirm: 'Are you sure?'} %>