<h1>GOGOGO</h1>
  <%= form_for @order do |f| %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity %>

    <%= f.label :book_price %>
    <%= f.text_field :book_price %>

    <%= f.radio_button :option_type, "buy" %>
    <%= f.label :option_type, "Buy" %>
    <%= f.radio_button :option_type, "sell" %>
    <%= f.label :option_type, "Sell" %>
    


    <%= f.submit "Save" %>

  <% end %>

    <%= link_to 'Back', events_path %>
