<% if current_user %>

  <h3>GOGOGO</h3>
  name
  <p><h4><%= @user.username %></h4></p>
  event
  <p><h4><%= @event.title %></h4></p>
  quantity
  <p><h4><%= @order.quantity %></h4></p>
  price
  <p><h4><%= @order.book_price %></h4></p>

<% end %>
<%= link_to 'Back', events_path %>

